<div class='body-blur'>
    <div class='row'>
        <a routerLink='/' id=back>
            <svg class='arrow' version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 31.494 31.494" style="enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
            <path d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
            c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
            c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
            </svg>
        </a>
        <h1 class='post-blog'>Post a Blog</h1>
    </div>
    <form [formGroup]='postForm' (ngSubmit)='addPost(postForm.value)'>
        <div class='row'>
            <div class='columns small-12 medium-6'>
                <label class='input-title'>Title
                    <input class='input-text' type='text' name='title' [formControl]="postForm.controls['title']" />
                </label>
                <div class='alert' *ngIf="!postForm.controls['title'].valid && postForm.controls['title'].touched">The title must be at least 10 to 75 characters long.</div>
            </div>
            <div class='columns small-12 medium-6'>
                <label class='input-title'>URL
                    <input class='input-text' type='url' name='title' [formControl]="postForm.controls['url']" />
                </label>
                <div class='alert' *ngIf="!postForm.controls['title'].valid && postForm.controls['title'].touched">There must be a URL.</div>
            </div>
            </div>
            <div class='row columns'>
                <label class='input-title'>Description
                    <textarea class='input-description' name='description' [formControl]="postForm.controls['description']"></textarea>
                </label>
                <div class='alert' *ngIf="!postForm.controls['title'].valid && postForm.controls['title'].touched">The description must be 25 to 500 characters long.</div>
                <input type='submit' class='post-btn' value='POST' [disabled]='!postForm.valid'>
            </div>
    </form>
</div>
