$accent-pink: #ec09a2;
$accent-blue: #09aeec;
$accent-blue-2: #057eaa;
$bg-blog: #0d171e;


.btn2 {
    float: none;
    position: absolute;
    bottom: 8px;
    left: 30px;
}

.post-container {
    border: 2px solid $accent-pink;
    background-color: $bg-blog;
    box-shadow: 0px 0px 16px $accent-pink;
    padding: 20px;
    position: relative;
    border-radius: 7px;
    margin-bottom: 20px;
    width: 360px;
    height: 370px;
    word-wrap: break-word;
    transition: .4s;
}

.post-container:hover {
    box-shadow: 0px 0px 24px #f36cc6;
}

.post-container p {
    margin: 10px 20px 40px 20px;
    clear: both;
}

.post-title {
    color: white;
    font-size: 30px;
    display: block;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.post-title:hover {
    color: $accent-blue;
}

.posts {
    margin-bottom:  15px;
}

.external svg {
    position: relative;
    width: 50px;
    height: 50px;
    max-width: none;
    left: 23px;
    transition: .4s;
}

.external svg:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 39.9375em) {

    .post-title {
        font-size: 1.6;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {

    .post-title {
        font-size: 1.7em;
        line-height: 1.4em;
    }
}